#map {
  height: 110vh;
  width: 100%;
}

.beautiful-marker {
  background-color: var(--accent-orange);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.beautiful-marker:hover {
  transform: scale(1.15);
  background-color: #d5641e3d;
}

.marker-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #e15d1149;
  border-radius: 50%;
  z-index: 1;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

#img-map {
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
