:root {
  --font-titles: "Montserrat", sans-serif;
  --font-text: "Roboto", sans-serif;
  --primary: #4facfe;
  --secondary: #00f2fe;
  --dark: #1e293b;
  --text-grey: #64748b;
  --light-bg: #f8fafc;
  --white: #ffffff;
  --shadow-soft: 0 10px 40px -10px rgba(0, 0, 0, 0.08);
  --shadow-hover: 0 20px 40px -5px rgba(79, 172, 254, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--font-text); /* Tout le texte sera en Roboto par défaut */
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  min-height: 100vh; /* Force la hauteur totale de l'écran */

  /* Important : garde ton padding pour la navbar */
  padding-bottom: 70px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
.btn {
  font-family: var(--font-titles); /* Les titres et boutons en Montserrat */
  font-weight: 700; /* Bien gras */
}
